@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdbdbd;
    font-family: lato, 'helvetica-light';
    position: relative;
    text-transform: uppercase;
    padding: 20px 0;
}

.container {
    margin: auto;
    width: 500px;
    position: relative;
}

.card-container {
    width: 630px;
    height: 365px;
    position: relative;
    margin: 0 auto;
}

.card {
    position: absolute;
    background-color: #3a7d6b;
    width: 495px;
    height: 315px;
    border-radius: 10px;
    padding: 25px 35px 0;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #000;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: 2px solid #000;
}

.card-front {
    z-index: 2;
    gap: 15px;
    background-color: #3a7d6b;
    height: 305px;
}

.card-back {
    z-index: 1;
    top: 45px;
    right: 0;
    background-color: #add8e6;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px 35px;
    width: 490px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
}

.input-group:last-child {
    margin-bottom: 0;
}

.input-label {
    display: block;
    font-size: 12px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto 5px 0;
    text-align: left;
}

.payment-total,
.card-number,
.cardholder-name,
.expiry-value,
.cvv-value {
    border: none;
    outline: none;
    background-color: #5a9def;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    margin: 0 0 0 0;
    color: rgb(0, 0, 0);
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: lato, 'helvetica-light', 'sans-serif';
    letter-spacing: 1px;
    text-align: left;
}

.payment-total::placeholder,
.card-number::placeholder,
.cardholder-name::placeholder,
.expiry-value::placeholder,
.cvv-value::placeholder {
    color: #000;
    opacity: 0.7;
    font-family: lato, 'helvetica-light', 'sans-serif';
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
}

.expiry-section {
    display: flex;
    gap: 15px;
    margin-left: 0;
    width: 100%;
    float: none;
    margin-bottom: 0;
    align-items: flex-start;
}

.expiry-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    min-width: auto;
    flex: 1;
}

.expiry-value {
    width: 100% !important;
    margin: 0 !important;
    height: 35px;
    line-height: 35px;
}

#card-month {
    width: 45% !important;
}

#card-year {
    width: 45%;
    float: right;
}

.cvv-value {
    width: 65px;
    margin-bottom: 0;
    color: #000;
}

#card-stripe {
    width: 100%;
    height: 55px;
    background-color: #3d5266;
    position: absolute;
    right: 0;
}

#cvc-container {
    position: absolute;
    width: 110px;
    right: -115px;
    bottom: -10px;
    padding-left: 20px;
    box-sizing: border-box;
}

#cvc-container label {
    width: 100%;
}

#cvc-container p {
    font-size: 6px;
    text-transform: uppercase;
    opacity: 0.6;
    letter-spacing: 0.5px;
}

#card-btn {
    background-color: rgba(251, 251, 251, 0.8);
    color: #ffb242;
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 150px;
    border-radius: 8px;
    height: 42px;
    font-size: 12px;
    font-family: lato, 'helvetica-light', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
}

#card-btn:hover {
    background-color: rgba(251, 251, 251, 1);
}

#shadow {
    position: absolute;
    right: 0;
    width: 355px;
    height: 268px;
    top: 36px;
    background-color: #000;
    z-index: -1;
    border-radius: 8px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

input.invalid {
    border: solid 2px #eb0000;
    height: 34px;
}
